<a href="https://colab.research.google.com/github/Ashikur-ai/Lab-assignment/blob/main/Notebook2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF statement

In [1]:
grade = 85
if grade >= 60:
  print("passed")

passed

# If else statement

In [2]:
grade = 85
if grade >= 60:
  print("passed")
else:
  print("fail")

passed

conditional expression

In [4]:
result = ('Passed' if grade >= 60 else 'Failed')

In [5]:
print(result)

Passed

# IF...elif....else statement

In [6]:
grade = 77
if grade >= 90:
  print('A')
elif grade >= 80:
  print('B')
elif grade >= 70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print('F')

C

##While Statement

In [7]:
number = 1

while (number<10):
  print(number, end=" ")#print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

while statement to find the first power of 3 larger than 50

In [8]:
product = 3

while product <= 50:
  product = product*3

In [9]:
print(product)

81

#**For statement**

In [10]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

*Built inRange Function*

*Let's use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:*

In [11]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000

In [12]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [13]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

In [15]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

In [16]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

In [17]:
number = int(input())

7

In [20]:
for i in range(1, 11):
  print(number,"X",i,"=",number*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [21]:
for left in range(7):
  for right in range(left,7):
    print("["+str(left)+"|"+str(right)+"]", end=" ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [22]:
for number in range(10):
  if number == 5:
    break
  print(number, end=" ")

0 1 2 3 4

In [23]:
for number in range(10):
  if number == 5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9