<a href="https://colab.research.google.com/github/Ashikur-ai/Lab-assignment/blob/main/notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Python First Program "Print Hello World"

In [1]:
print("Hello World")

Hello World

# Variables and Assignment Statements

In [2]:
x = 7
y = 3
print(x+y)

10

In [3]:
total = x+y
print(total)

10

In [4]:
name = "Adam"
name2 = "Eva"
print(name, name2)

Adam Eva

# Types

In [5]:
x = 10
type(x)

int

In [6]:
type(10.5)

float

In [7]:
type(name)

str

# Arithmetic operators

In [8]:
multiplication = 7*4
print(multiplication)

28

In [9]:
add = 10+15
print(add)

25

In [10]:
sub = 40-8
print(sub)

32

In [11]:
Exponentiation = 2**10
print(Exponentiation)

1024

# True_Division(/) vs. Floor Division(//)

In [12]:
True_Division = 7/4
print(True_Division)

1.75

In [14]:
Floor_Division = 7//4
print(Floor_Division)

1

In [15]:
remainder = 15%7
print(remainder)

1

# Relational Operators

In [16]:
x = 105
y = 100

In [17]:
x>y

True

In [18]:
x<y

False

In [19]:
x==y

False

In [20]:
x!=y

True

In [21]:
x>=y

True

In [22]:
x<=y

False

# Chaining Comparisons

In [23]:
x = 3
y = 10

In [24]:
1 <= x <= 5

True

In [25]:
1 <= y <= 5

False

# Print Function

printing a Comma-Separated List of Items

In [26]:
print('Welcome', 'to','Python!')

Welcome to Python!

Printing Many Lines of Text with One Statement

In [27]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

Ignoring a Line Break in a Long String

In [28]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

Printing the Value of an Expression

In [29]:
print('Sum is', 7+3)

Sum is 10

In [30]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

Including Quotes in Strings

In [31]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [32]:
print("Display the name O'Brien")

Display the name O'Brien

In [33]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

To avoid using 'and " inside strings, you can enclose such strings in triple quotes:

In [34]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

Multiline Strings

In [35]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [36]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [37]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [38]:
print("""This is lengthy
multiline string containing
a few lines \
of text""")

This is lengthy
multiline string containing
a few lines of text

Precision Handling in Python

In [39]:
a = 3.4536475856

In [40]:
# using "%" to print value till 2 decimal places
print("The value of number till 2 decimal place(using %)is : ", end="")
print('%.2f' %a)

The value of number till 2 decimal place(using %)is : 3.45

In [42]:
# using "%" to print value till 4 decimal places
print("The value of number till 2 decimal place(using %) is : ",end="")
print('%4f' %a)

The value of number till 2 decimal place(using %) is : 3.453648

# Getting Input from the User

The built-in input function requests and obtains user input:

In [43]:
name = input("What's your name?")

What's your name?Ashik

In [44]:
print(name)

Ashik

In [45]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 30
Enter second number: 40

In [46]:
total = value1+value2
print(total)

3040

In [47]:
type(total) #python takes input as a string we have to type cast the input

str

In [48]:
total = int(value1) + int(value2) #type casting to int format
print(total)

70

Getting an Integer from the User by casting the input format

In [49]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [50]:
print(another_value)

10

Taking multiple input from the user

In [51]:
a, b = input().split()

10 20

In [52]:
print(a, b)

10 20

In [53]:
print(type(a))

<class 'str'>

# Solving Problem

Determining the Minimum and Maximum with Built-in Functions min max

In [54]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100

In [55]:
min(number1, number2, number3)

20

In [56]:
max(number1, number2, number3)

100

In [57]:
x = 2
y = 3

In [58]:
print('x =',x)
print('Value of',x,'+',x,'is',(x+x))
print('x=')
print((x+y),'=',(y+x))

x = 2
Value of 2 + 2 is 4
x=
5 = 5